h2,h3{
			text-align:center;
			font-family: 'Montserrat', sans-serif;
			color: white;
			
		}

#bg{
		background-color: #1f1f2e;
}

h1 {
	padding-left: 535px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 50px;
	background-color: #00a4a2;
}


.wrapper {
	grid-template-columns: 50% 50%;
}
